header {
  width: 100%;
}

.storybook-header {
  width: 80%;
  padding: 10px 80px;
  display: flex;
  justify-content: space-between;
  /* background-color:  */

}

.arrow {


  display: flex;



}

.arrow-icon {
  margin-top: 25px;
  margin-right: 15px;
  height: 50%;
}

.arrow-heading {

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.arrow-heading-1 {
  display: flex;
  align-items: center;

  height: 50px;
}

.arrow-heading-1 h1 {
  font-size: 30px;
}

.arrow-heading-1 h2 {
  font-weight: 200;
}

.arrow-heading-first {
  color: grey;

  padding: 0px;
  margin: 0px;
}

.arrow-heading-second {
  padding: 0px;
  /* margin-top: 20px; */
  margin-top: 5px;
  font-family: 'Roboto';
  font-size: 15px;

}


.header-btn {
  display: flex;
  gap: 1.5rem;
  /* background-color: blue; */
  margin: 0px;
}